absl-py==1.4.0
accelerate==0.22.0
aiohttp==3.8.5
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.2
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884292427/work
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
filelock==3.12.2
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==23.5.26
frozenlist==1.4.0
fsspec==2023.6.0
gast==0.4.0
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808750085/work
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
h5py==3.9.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
keras==2.13.1
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1691056333838/work
oauthlib==3.2.2
openai==0.27.9
opt-einsum==3.3.0
packaging==23.1
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1688255972873/work
protobuf==4.24.2
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.3
six==1.16.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
tensorflow-metal==1.0.1
termcolor==2.3.0
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.1.0.dev20230826
torchvision==0.16.0.dev20230826
tqdm==4.66.1
transformers @ git+https://github.com/huggingface/transformers.git@c6c6daa3f07e753cff91a08c4294df4a6ea6227b
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
Werkzeug==2.3.7
wrapt==1.15.0
yarl==1.9.2
zipp==3.16.2
